@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Texturina:wght@600&display=swap');
body{
  background-color: #222629;
  font-family: 'Texturina', serif;
}
.container{
  display: block;
  text-align: center;
  color: white;
}
.heading{
  font-size: 50px;
}
.sub-heading{
  color: #6B6E70
}
.top-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.s{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.p{
  display: flex;
  flex-direction: column;
}
.arrow{
    background-color: GREEN; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    transition: all 0.4s ease 0s;
    width: 2em;
    height: 1.8em;
    margin-top: 2em
}
.arrow:hover{
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }
  h4{
    font-size: larger;
    padding: 10%;
  }
  .bottom-container{
    display: flex;
    justify-content: center;
  }
  .timer-control{
    background-color: green; /* Green */
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: solid;
    margin: 2em;
  }
  .time{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }